@model _01Test.Models.tProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fImg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
