@model Story_Test8.Models.Announcement

@{
    ViewBag.Title = "詳細資料";
}
    <div class="container" style="height:100px;"></div>
<h2>詳細資料</h2>
@if (Session["Administrator"] != null)
{
    <div>
        <h4>公告</h4>
        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PostID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdminID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdminID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostCont)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostCont)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("修改", "Edit", new { PostID = Model.PostID }) |
        @Html.ActionLink("返回公告列表", "Index")
    </p>
}
else
{
    <div>
        <h4>公告</h4>
        <hr />
        <dl class="dl-horizontal">
            @*<dt>
                @Html.DisplayNameFor(model => model.PostID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdminID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdminID)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.PostName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostCont)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostCont)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("返回公告列表", "Index")
    </p>
}
