@*//06-3-3 在最上方加上@model _06ViewModel.ViewModel.CVMDepEmp*@
@model _06ViewModel.ViewModels.VMDeptEmp

@{
    ViewBag.Title = "員工資料管理";
}

@*//06-3-4 將tilte改為中文,<h2>改為在HomeController所建立的ViewBag.DepName*@
<h2>員工資料管理</h2>
@*//06-3-5 在Index View中撰寫顯示畫面*@
<p>
    @Html.ActionLink("新增員工資枓", "Create")
</p>
<div class="row">
    <div class="col-xs-3">
        @foreach (var item in Model.department)
        {
            <p>
                @Html.ActionLink(item.fDepName, "Index", new { depId = item.fDepId })

            </p>
        }
    </div>
    <div class="col-xs-9">
        <h2>
            @ViewBag.DeptName
        </h2>
        <table class="table">
            <tr>
                <th>
                    員工編號
                </th>
                <th>
                    姓名
                </th>
                <th>
                    電話
                </th>
                <th>
                    管理
                </th>
            </tr>

            @foreach (var item in Model.employee)
            {
                <tr>
                    <td>
                        @item.fEmpId
                    </td>
                    <td>
                        @item.fName
                    </td>
                    <td>
                        @item.fPhone
                    </td>
                    <td>
                        @Html.ActionLink("刪除", "Delete", new { fEmpId = item.fEmpId },new { @class="btn btn-danger", onclick="return confirm('確定刪除嗎??')" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

