
@{
    ViewBag.Title = "RazorTest";
}
@*//03-4-4 Razor語法練習*@
<h2>RazorTest</h2>

@* 這是單行註解 *@
@* 這是
    區塊
        註解 *@

@*程式區段*@
@{
    var name = "John";
    string name2 = "Kevin";
    int Math = 85, Eng = 90, Chi = 95;

    @:歡迎光臨 @name 光臨  @*純文字前須加@:*@
    <span>歡迎光臨 @name 光臨</span>
    <h2>歡迎光臨 @name2 光臨</h2>
}

<h2>歡迎光臨 @name2 光臨</h2>

@Math + @Eng + @Chi  = @(Math + Eng + Chi)
<h2>@Math + @Eng + @Chi  = @(Math + Eng + Chi)</h2>

@(ViewBag.IsLogin = false)

@if (ViewBag.IsLogin)
{
    @:會員已登入
}
else
{
    <span>會員已登出</span>
}
<hr />
@{
    string[] MarketName = { "瑞豐夜市", "新堀江商圈", "六合夜市", "青年夜市", "花園夜市", "大東夜市", "武聖夜市" };
}

<ul>
    @foreach (var item in MarketName)
    {
        <li>@item</li>
    }
</ul>

<ul class="btn-group">
    @foreach (var item in MarketName)
    {
        <li class="btn btn-default">@item</li>
    }
</ul>