
@{
    ViewBag.Title = "總管理系統";
}

<div class="container" style="height:100px;"></div>
<h2>總管理系統</h2>

<hr />
@*<p>
        @Html.ActionLink("會員列表", "Index", "Member", null, new { @class = "btn btn-success" })
        @Html.ActionLink("寶物列表", "Index", "Commodity", null, new { @class = "btn btn-success" })
        @Html.ActionLink("管理員列表", "Index", "Administrator", null, new { @class = "btn btn-success" })
    </p>*@
<div class="row">
    <div class="col-lg-4">
        <div class="thumbnail">
            <div class="caption">
                <h2>
                    會員管理系統
                </h2>
                <p>
                    @Html.ActionLink("會員列表", "Index", "Member", null, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <div class="caption">
                <h2>
                    寶物管理系統
                </h2>
                <p>
                    @Html.ActionLink("寶物列表", "Index", "Commodity", null, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <div class="caption">
                <h2>
                    管理員管理系統
                </h2>
                <p>
                    @Html.ActionLink("管理員列表", "Index", "Administrator", null, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <div class="caption">
                <h2>
                    公告管理系統
                </h2>
                <p>
                    @Html.ActionLink("公告列表", "Index", "Announcement", null, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </div>
</div>
@Html.ActionLink("返回首頁", "Index", "Home")